<html>

<head>
<title>title</title>
</head>

<style>
body {text-align: center; background-color: affffc}
</style>

<body>

<p>Text </p>

<div>
<h1 id="heading">Why</h2>
</div>



<b> Wie ben ik? </b>
<br>

<b> Wat doe ik? </b>
<br>


<iframe width="560" height="315" src="https://www.youtube.com/embed/qth0_c9HpQY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</body>






</html>
